.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr));
  gap: 10px;
  max-height: 100%; /* Set maximum height to 100% */
  overflow-y: auto; /* Add vertical scroll if content overflows */
  margin: 10px; /* Set internal margin of 10px for all sides */
}

.mat-grid-tile {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 0;
  padding: 16px;
  text-align: center;
  height: 0;
  padding-bottom: 65%; /* Set the aspect ratio to 4:3 (3/4 * 100) */
  margin: 10px; /* Set margin around each tile */
}


@media screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}
