

.search-container {
  position: relative;
}

.search-input {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #C3002F;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #777;
  cursor: pointer;
  transition: color 0.3s ease;
}

.search-icon:hover {
  color: #333;
}
